.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  // max-width: 1024px;
  max-width: 1170px;
  // min-height: 1115px;

  background-color: #f9f9f3;
  
  &__header {
    margin-top: 155px;

    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
  }

  &__text {
    margin-top: 20px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 75px;
    padding-left: 14px;
    padding-right: 14px;
  }

  &__button{
    width: 210px;
    height: 40px;
    margin-bottom: 80px;

    background-color: #ef5b4c;
    color: white;
    border-radius: 5px;
    border: none;
    transform: translateY(-78px);
  }

  &__button:hover {
    cursor: pointer;
    background-color: #df594a;
  }

  &__button:focus,
  &__button:active {
    outline: none;
  }

  @media screen and (max-width: 768px) {
    &__header {
      margin-top: 114px;
  
      font-size: 40px;
      line-height: 42px;
    }
   
    &__button{
      margin-bottom: 43px;
  
      transform: translateY(-76px);
    }
  }

  @media screen and (max-width: 568px) {
    &__header {
      margin-top: 76px;
  
      font-size: 30px;
      line-height: 32px;
    }

    &__text {
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 370px) {
    &__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 35px;
    }

    &__button {
      margin-top: 60px;
    }
  }
}