* {
  box-sizing: border-box;
  margin: 0; 
}

html {
  scroll-behavior: smooth;
}

html * {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  padding-top: 15px;
  text-align: center;
  max-width: 1170px;
  height: 55px;
}

@media screen and (min-width: 1170px) {
  body {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
    }
  }

